body {
  background: blanchedalmond;
  margin: 0;
}
* {border: 2px solid black;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 5px;
}

.a, .c{
  margin: 5px;
  flex-grow: 1;
}

.b {flex-grow: 4;
margin: 5px;}

@media(min-width: 600px)  {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {width: 100vw;
  }

  .b, .c {height: 80vh;} 
 
}

